<div class="ng-template" style="padding-left: 10px;">

    <h4>Presupuesto</h4>
    <div style="padding-left: 15px; padding-top: 0px; padding-bottom: 0px;">
      <p>Presupuesto | Creación</p>
    </div>

    <div *ngFor="let p of padre; index as Id">

       <app-tree [ref]="p.id" [name]="p.name" (enviar) = "enviar($event)"></app-tree>
    </div>

    <button type="button" class="btn btn-link btn-sm" (click)="marcar_nuevo()">[ + ]</button>

    <div *ngIf="nuevo" style="padding-left: 20px; padding-right: 20px; ">
    <hr>
    <form [formGroup]="listForm" (ngSubmit)="onSubmit()">
      <p>
        Presupuesto:
        <input type="text" formControlName="name" required>
        &nbsp;<button class="btn btn-info btn-sm" type="submit"
        [disabled]="!listForm.valid">Submit</button>
        &nbsp;<button class="btn btn-info btn-sm" type="button" (click)="cerrar()">Close</button>
      </p>
    </form>
    </div>
</div>
<!--
<button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['/edit-issue/', issues.id]">Edit</button>
<button type="button" class="btn btn-danger btn-sm" (click)="deleteIusse(issues)">Remove</button>
-->

