<div class="ng-template" style="padding-left: 10px;">

    <h4>Presupuesto</h4>
    <div style="padding-left: 15px;">
      <p>Presupuesto</p>
    </div>

    <div *ngFor="let p of padre; index as Id">

       <app-tree [ref]="p.id" [name]="p.name"></app-tree>

    </div>
</div>
<!--
<button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['/edit-issue/', issues.id]">Edit</button>
<button type="button" class="btn btn-danger btn-sm" (click)="deleteIusse(issues)">Remove</button>
-->

